* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    font-size: 16px;
}

body {
    --main-color: rgb(41, 139, 239);
    
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(5, 1fr);
    
    height: 100vh;
    width: 100vw;
}

/* ------------------ sidebar ---------------- */
.sidebar {
    grid-row: 1 / 11;
    grid-column: 1 / 2;
    
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    
    background-color: var(--main-color);
    color: rgb(255, 255, 255);
    
}

.sidebar > #dashtitle {
    grid-row: auto / span 2;
}

.sidebar > #dashtitle p {
    font-size: 1.75rem;
}

.sidebar > .empty {
    grid-row: auto / span 1;
}

.sidebar > .sidebarItem {
    display: grid;
    
    grid-template-columns: clamp(50px, 5vw, 100px) clamp(150px, 10vw, 175px);
}

.sidebarItem > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebarItem p {
    font-size: 1.5rem;
    font-weight: 600;
}

.sidebarItem > div:first-child {
    align-items: center;
}

#dashtitle.sidebarItem svg {
    width: 65%;
    height: 65%;
}

.sidebarItem svg {
    fill: white;
    width: 55%;
    height: 55%;
}

/* ----------------- header ------------------- */

.header {
    grid-row: 1 / 3;
    grid-column: 2 / 6;
    
    display: grid;
    grid-template-rows: 3fr 4fr;
    grid-template-columns: 3fr 2fr;
}

.header img:first-child {
    width: 3vw;
    height: 3vh;
}

.header > .searchBar {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    padding-top: 1vh;
    padding-left: 5vw;
}


.searchBar > input {
    flex: 1;
    background-color: rgb(200, 200, 200);
    border: none;
    border-radius: 15px;
    padding-top: 1vh;
    
    height: 25px;
}

.header > .headerIcons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3vw;
    
    padding-top: 1vh;
    padding-right: 7vw;
}

.headerIcons > #profilePic {
    width: 50px;
    height: 50px;
}

.headerIcons > h1 {
    font-size: 1.5rem;
}

.header > .welcomeMsg {
    display: flex;
    align-items: center;
    gap: 1.5vw;
    
    padding-left: 5vw;
}

.welcomeMsg > #profilePic {
    width: 75px;
    height: 75px;
}

.welcomeMsg  p {
    font-size: .75rem;
}

.welcomeMsg h1 {
    font-size: 1.75rem;
}

.header > .headerButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    gap: 3vw;
    padding-right: 4vw;
}

.headerButtons > button {
    border: none;
    border-radius: 30px;
    
    background-color: var(--main-color);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    
    width: 100px;
    height: 40px;
}

.headerButtons > button:active {
    border: 2px solid rgb(0, 0, 0);
}

/* ----------------- content ------------------- */

.content {
    grid-row: 3 / 11;
    grid-column: 2 / 6;
    
    display: grid;
    grid-template-columns: 3fr 1fr;
    
    padding: 3vh 2vw;
    grid-gap: 0vh 2vw;
    
    background-color: rgb(242, 242, 242);
}

.content h1{
    font-size: 1.5rem;
    padding-bottom: 1vh;
}

.content .card {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 6px 0px rgb(200, 200, 200);
    border-radius: 5px;
}

.card h1 {
    font-size: 1.2rem;
    padding: 0px;
}

.card h2,
.card h3{
    font-size: 1rem;
    font-weight: 600;
}

.card p {
    color: rgb(128, 128, 128);
    font-size: 1rem;
    overflow: auto;
}


/* -------------- content: projects --------------- */
.projects {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.projectsGrid {
    flex: 1;
    display: grid;
    /* use vh instead of fr to keep the container responsive but prevent expansion if there is overflow */
    grid-template-rows: repeat(3, minmax(150px, 22vh));
    grid-template-columns: repeat(2, 1fr);
    
    grid-gap: 2vh 2vw;
}

.projectsGrid > .projectItem {
    border-left: solid 7px orange;
    padding: 3vh 2vw;
}

.projectsGrid > .projectItem > p {
    height: 55%;
}

.projectsGrid > .projectItem > .icons {
    display: flex;
    justify-content: flex-end;
    padding-top: 2vh;
    gap: 2vw;
}

.projectItem > .icons > button {
    border: none;
    height: 30px;
    width: 30px;
}

.projectItem > .icons > button:active {
    box-shadow: 0px 0px 2px 0px black;
}

#starplus {
    background: url(./images/star-plus-outline.svg);
}

#eyeplus {
    background: url(./images/eye-plus-outline.svg);
}

#fork {
    background: url(./images/source-fork.svg);
}

/* ------------------ content: updates -------------------*/
.updates {
    display: grid;
    grid-template-rows: repeat(2, minmax(250px, 36vh));
    
    grid-gap: 2vh;
}

.updates > .announcements,
.updates > .trending {
    display: grid;
    grid-template-rows: minmax(32px, 5vh) minmax(200px, 31vh);
}


/* ------------- announcements ------------------- */
.announcementContainer,
.trendingContainer {
    padding: 2vh 2vw;
}

.announcementItem {
    height: 27%;
}

.announcementItem > p {
    height: 60%;
}

.divider {
    border-top: 1px solid gray;
    margin: 1vh 0vw;
}


/* --------------- trending --------------- */
.trendingContainer {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.trendingContainer > .trendingItem {
    display: grid;
    grid-template-columns: minmax(50px, 1fr) minmax(100px, 2fr);
}

.trendingItem > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trendingItem > div > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trendingItem #profilePic {
    width: 50px;
    height: 50px;
}
